.todo-value{
    padding-right: 100px; 
}

ul{
    list-style-type: none;
    width: 100%;
}


li{
    margin: 10px;
}

.li-add-slide{
    animation: add-slide 0.4s;
}

.li-remove-slide{
    animation: remove-slide 0.4s;
}



@-webkit-keyframes add-slide {
    0% {
      -webkit-transform: translate(0, -30px);
              transform: translate(0, -30px);
              opacity: 0;
    }
    
    60% { opacity: 0.5; }
    
    80% { opacity: 0.9; }

    100%{
        opacity: 1;
    }
    
  }
  @keyframes add-slide {
    0% {
        -webkit-transform: translate(0, -30px);
        transform: translate(0, -30px);
        opacity: 0;
    }
    
    60% { opacity: 0.5; }
    
    80% { opacity: 0.9; }

    100%{
        opacity: 1;
    }
  }

  @-webkit-keyframes remove-slide {
    0% {
              opacity: 1;
              -webkit-transform: translate(0, 30px);
              transform: translate(0, 30px);
    }
    
    60% { opacity: 0.9; }
    
    80% { opacity: 0.5; }

    100%{
        opacity: 0;
    }
    
  }
  @keyframes remove-slide {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 30px);
        transform: translate(0, 30px);
    }
    
    60% { opacity: 0.9; }
    
    80% { opacity: 0.5; }

    100%{
        opacity: 0;
    }
  }




.grid-todo-item{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-todo-value{
    justify-self: end;
}

.grid-todo-buttons{
    justify-self: start;
    align-self: end;
}